# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out

# Program output
*.csv

# Dependency directories (if you are not committing your vendor folder)
vendor/

# Editor directories and files
.vscode/
.idea/
*.swp
.env
